*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
h3{
    margin-left: 460px;
    margin-top: 10px;

    color: white;
}
.input{
    display: flex;
    margin-left: 470px;
    gap: 20px;
}
input{
    width: 400px;
    background-color: rgb(30, 33, 32);
    height: 40px;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 20px;
    border: 1px solid white;
}
.start{

    margin-top: 20px;
    background-color: orange;
    color: white;
    font-weight: 800;
    padding-left: 20px;
    padding-top: 8px;
    display: flex;
    gap: 15px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-radius: 5px;

}
input placeholder{
    color: white;
}
footer{
    color: #767575;
}
li{
    list-style: none;
}
body{
    background-color: #141414;
}
.help{
    display: flex;
    font-size: 13px;
    gap: 170px;
    cursor: pointer;
    margin-left: 150px;
}
li:hover{
    text-decoration: underline;

}
p{
    font-size: 13px;
    margin-left: 188px;
    margin-bottom: 20px;
    color: #808080;
}
p span{
    text-decoration: underline;
    cursor: pointer;
}
hr{
    color: #e29393;
    background-color: grey;
    height: 5px;
}

.language{
    height: 25px;
    padding-left: 9px;
    padding-top: 5px;
    margin-left: 185px;
    margin-top: 2px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    border-radius: 7px;
    padding-right: 5px;
    width: 100px;
    border: 1px solid #808080;
}
h6{
    margin-left: 185px;
    font-size: 13px;
    font-weight: 200;
}